body{
    background: linear-gradient(to right,#606060,#042dd0);
    font-variant: petite-caps;
    font-family: monospace;
}
#root {
    /* //text-align: center;  */
    display: flex;
    margin: auto;
    /* height: 200px; */
    padding-top: 200px;
    padding-left: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.main-container  {
    display: flex;
    border: solid rgba(33, 70, 130, 0.469);
    height: 500px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    background-color: rgba(169, 169, 169, 0.341);
    justify-content: unset;
    width: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main-container::-webkit-scrollbar {
    display: none;
    
}

.task-container {
  flex-flow: column;
}

.add-button {
  /* display: inline-block; */
  background: rgba(3, 162, 16, 0.721);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  /* display: flex; */
  /* padding: revert; */
  height: 50px;
  float: right;
  width: 100px;
  border: 1px solid white;
  outline: none;

}
.add-button:hover,
.add-button:focus {
    background-color: rgba(0, 212, 25, 0.543);
}
.delete {
    color: red;
    font-size: inherit;
    height: 0.9em;
    cursor: pointer;
    margin-left: 405px;
    margin-top: -20px;
}
.delete:hover,
.delete:focus{
    background-color: rgba(236, 8, 0, 0.718)
}
.add-task{
    background:  rgb(0, 141, 12);
}
.add-task:hover,
.add-task:focus{
    
    background-color: rgba(0, 212, 25, 0.543)
}

.task-cards {
    outline-style: double;
    padding-left: 35px;
    color: rgb(0, 0, 0);
    background-color: #fffcfc2e;
}

p {
    margin-top: -15px;
    margin-bottom: 0rem;
    position: relative;
    top: 0;
}
h1{
     color: rgb(0, 0, 0);
}